<template>
  <div>

    <slot />
  </div>
</template>


<script>




</script>



<style scoped lang="scss">
  .navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: lightgray;
    height: 2rem;
    margin: 1rem 2rem;
  }

</style>