<template>
  <div class="navbar-header container">
    <div class="user-space">
      <div class="login">

        <!-- <span @click="openLoginModal" id="loginRegister">register-login</span>
        <div ref="target" >
            <div v-if="signIn" class="login-component-wrapper"> login div</div>
        </div> -->
        <span @click="openLoginModal" id="loginRegister">login/register</span>
        <div class="login-component-wrapper" v-if="signIn" id="signUp">
          <p>login div</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

// import { onClickOutside } from '@vueuse/core'


const target = ref(null);

// comented once are for vue outside click

// onClickOutside(target, (event) => {
//     console.log('click')
//     if(event.target !== document.getElementById('loginRegister')){
//         signIn.value = false
//     }
// }) 

const minimized = ref(false);

// sign in component appears here

const signIn = ref(false);
const signUpDiv: any = ref();

function openLoginModal() {
  signIn.value = !signIn.value;
}

function handleClickEvent(event) {
  const clickedElement = event.target;

  console.log(document.getElementById("loginRegister"));

  signUpDiv.value = document.getElementById("signUp");
  const loginRegister: any = document.getElementById("loginRegister");

  if (signUpDiv.value?.contains(clickedElement)) {
    console.log("Click inside the div");
  } else if (
    !signUpDiv.value?.contains(clickedElement) &&
    !loginRegister.contains(clickedElement)
  ) {
    console.log("Click outside the div");
    signIn.value = false;
    // removeEventListener('click', handleClickEvent)
  }
}
onMounted(() => {
  window.addEventListener("click", handleClickEvent);
});
</script>

<style scoped lang="scss">


.login {
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  .login-component-wrapper {
    position: absolute;
    height: 25rem;
    width: 24rem;
    background: white;
    border: 1px solid greenyellow;
    top: 2rem;
    // right: 0;
    z-index: 1;
  }
}
</style>
